.product-image-container {
  /* height: 600px;
    width: 500px;
    margin: 0 auto; */
  padding-bottom: 60px;
  width: 100%;
}

.product-detail-modal-body {
  /* padding-top: 10px; */
  padding-right: 0px !important;
  width: 100%;
}

.product-image {
  height: 300px;
  width: 300px;
}
.material-icons.navigate,
.material-icons.account,
.material-icons.search {
  /* width: 30px;
    height: 20px; */
  font-size: 50px;
}
#checkBoxIcon,
#favoriteIcon,
#commentIcon {
  font-size: 30px;
}
.favoriteIcon {
  flex: unset !important;
  outline: none !important;
}
.commentIcon {
  flex: unset !important;
  outline: none !important;
}
svg#favoriteIcon {
  width: 32px;
  height: 32px;
}
svg#commentIcon {
  height: 32px;
  width: 32px;
}
#add-product-fabbtn {
  outline: none !important;
  width: 42px;
  height: 42px;
  margin-top: 0px;
  margin-left: 24px;
  margin-right: 24px;
}

.like-heart {
  width: 26px;
  height: 26px;
  margin-top: 10px;
  cursor: pointer;
}
.outer-comment-text {
  margin-top: 17px;
  font-size: 19px;
  margin-right: -8px;
  cursor: default !important;
  color: #9e7339;
}
.text-badge {
  background: #9e7339;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.comment-text {
  padding-left: 10px;
}
.material-icons.drawer {
  font-size: 20px;
}
/* .Comment-Model{
    width: 100%;
}
.textFeild{
    width: 800px;
} */
.center {
  justify-content: center;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.material-icons.clear,
.material-icons.send {
  font-size: 30px;
}
.material-icons.send {
  text-align: right;
}
#favoriteIcon,
#commentIcon,
#checkBoxIcon,
.swipeableDrawer {
  /* s */
  color: #9e7339;
}
list {
  color: white;
}

.mainBodyButtons {
  margin-top: 3%;
}
.signinBtn {
  width: 30vh;
}
#phone-icon,
.fa.fa-google,
.fa.fa-edge,
.fa.fa-facebook {
  padding-right: 10px;
}
/* .fa{
    font-size: '20px';
    width: 8vh;
    text-align: left;
} */
/* .fa.fa-google{
    width: 7vh;
    text-align: left;
}
.fa.fa-edge{
    padding: 0px 15px;
}
#phone-button{
    padding-right: 0px
}
.fa.fa-facebook{
    width: 4vh;
    padding-right: 30px;
} */
.globe {
  width: 100%;
  height: 12px;
}
#list-button {
  color: white;
  position: fixed;
  z-index: 1000;
  bottom: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 225px;
}
.material-icons.comment,
.fa.fa-share,
#like,
#dislike {
  font-size: 30px;
}
.comment-text-bottom {
  font-size: 18px;
  margin-top: 17px;
  cursor: default !important;
  color: #9e7339;
}

.material-icons.key {
  text-align: right;
  float: right;
  flex-wrap: wrap-reverse;
  flex: auto;
  font-size: 40px;
}

.dialog {
  padding-right: 0px !important;
}
.comment-footer-div {
  display: flex;
  justify-content: space-between;
}

.more-image-icon {
  position: absolute;
  height: 30px;
  width: 20px;
  right: 10px;
  top: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.more-image-icon:hover {
  background: #000;
  opacity: 0.5;
  transition: 0.5s;
}

.main-product-image-wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}

.main-product-image-wrapper .main-product-image {
  width: 100%;
  height: auto;
  max-width: 1024px;
  max-height: 768px;
}

.product-modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-modal-header .product-modal-back-icon-wrapper {
}

.product-modal-header .product-modal-center-icon-wrapper {
  padding: 12px 12px 0 0;
}

.product-modal-footer {
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  border-top: 1px solid #eaeaea;
}
