.product-image-container{
    /* height: 600px;
    width: 500px;
    margin: 0 auto; */
    padding-bottom: 60px;
    width: 100%;
}

.product-detail-modal-body{
    /* padding-top: 10px; */
    width: 100%;
}

.product-image{
    height: 300px;
    width: 300px;
}
.material-icons.navigate,
.material-icons.account,
.material-icons.search
{
    /* width: 30px;
    height: 20px; */
    font-size: 50px;
}
#checkBoxIcon, #favoriteIcon{
    font-size: 30px;
}
.material-icons.drawer{
    font-size: 20px;
}
/* .Comment-Model{
    width: 100%;
}
.textFeild{
    width: 800px;
} */
.center { 
    justify-content: center; 
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
.material-icons.clear,
.material-icons.send {
    font-size: 30px;
}
.material-icons.send {
    text-align: right
}
#favoriteIcon, #checkBoxIcon ,.swipeableDrawer{
    /* s */
        color: #9e7339;
}
list{
    color : white
}

.mainBodyButtons{
  margin-top: 3%
}
.signinBtn{
    width: 30vh;
}
#phone-icon, .fa.fa-google, .fa.fa-edge,.fa.fa-facebook{
    padding-right: 10px;
}
/* .fa{
    font-size: '20px';
    width: 8vh;
    text-align: left;
} */
/* .fa.fa-google{
    width: 7vh;
    text-align: left;
}
.fa.fa-edge{
    padding: 0px 15px;
}
#phone-button{
    padding-right: 0px
}
.fa.fa-facebook{
    width: 4vh;
    padding-right: 30px;
} */
.globe{
    width: 100%;
    height: 12px
}
#list-button{
    color: white;
    position: fixed;
    z-index: 1000;
    bottom: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 225px;
}
.material-icons.comment, .fa.fa-share, #like, #dislike{
    font-size: 30px;
}
.comment-text{
    font-size: 18px;
    margin-left: 20px;
}
.material-icons.key{
    text-align: right;
    float: right;
    flex-wrap: wrap-reverse;
    flex: auto;
    font-size: 40px
}