.product-image-container{
    /* height: 600px;
    width: 500px;
    margin: 0 auto; */
    padding-bottom: 60px;
    width: 100%;
}

.product-detail-modal-body{
    /* padding-top: 10px; */
    width: 100%;
}

.product-image{
    height: 300px;
    width: 300px;
}
.material-icons.navigate,
.material-icons.account,
.material-icons.search
{
    /* width: 30px;
    height: 20px; */
    font-size: 50px;
}
#checkBoxIcon, #favoriteIcon{
    font-size: 30px;
}
.material-icons.drawer{
    font-size: 20px;
}
/* .Comment-Model{
    width: 100%;
}
.textFeild{
    width: 800px;
} */
.center { 
    justify-content: center; 
  }
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }
.material-icons.clear,
.material-icons.send {
    font-size: 30px;
}
.material-icons.send {
    text-align: right
}
#favoriteIcon, #checkBoxIcon ,.swipeableDrawer{
    /* s */
        color: #9e7339;
}
list{
    color : white
}

.mainBodyButtons{
    position: fixed;
    z-index: 1000;
    bottom: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 225px;
}