.privacy-content {
  padding-left: 16px;
  /* padding-right: 16px; */
}

.yellow-color {
  color: #fab904;
}

.static-heading {
  font-weight: bold;
  margin: 10px 0;
}

.headline__title {
  font-family: "HaasGrotDispRWeb", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.2px;
  font-size: 1.5rem;
  line-height: 1.166666667em;
  word-spacing: 2px;
  margin-bottom: 1rem;
  color: #555555;
}

.headline__content p {
  margin: 0 0 24px;
  color: #555555;
  font-size: 1.2rem;
}

.subhead-list__subhead {
  font-family: "HaasGrotDispRWeb", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.2px;
  font-size: 1.5rem;
  line-height: 1.166666667em;
  word-spacing: 2px;
  margin-bottom: 16px;
  color: #8e8e8e;
}

.headline__content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 24px;
  color: #555555;
  font-size: 1.2rem;
}
.privacy-content-form {
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px 20px 30px;
  margin-top: 30px;
}
/* .MuiFormControl-root-146.MuiFormControl-marginDense-148 {
  flex: 1 !important;
  display: flex !important;
  border: 1px solid #ccc !important;
  box-shadow: unset !important;
} */
/* .MuiPrivateTextarea-root-180 {
  padding: 4px 10px 0px;
} */
.text-areabox-para {
  text-align: right;
  font-size: 12px;
}
.privacy-content-form-btn-parent {
  text-align: center;
  margin-top: 40px;
}
.privacy-content-form-btn {
  background: #9e7339 !important;
  width: 64% !important;
  height: 46px !important;
}
