primary {
    color: white
}
.material-icons.clear{
    text-align: right;
    font-size: 40px;
    cursor: pointer;
}
.searchButton{
    padding: 0px 50px;
    background-color: #00bfff;
    display: flex;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.material-icons.searchh{
    font-size: 35px;
    cursor: pointer;
}
.MenuLinks{
    /* border: 6px solid 	#E8E8E8; */
    background-color: #E8E8E8;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    /* border-top: 20px solid 	#E8E8E8; */
}
#svgIcon{
    font-size : 34px;
}
