#svgIcon{
    font-size : 34px;
}

label + .MuiInput-formControl-155{
    margin-top: 10px !important;
}

.MuiInputLabel-formControl-141{
    top: -10px !important;
    left: 10px !important;
}

/* TEXT MODAL */
.text-modal-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#simple-modal-title{
    font-size: 20px;
    background: red;
    padding: 15px;
    color: #fff;
    border-bottom: 2px solid red;
}

#simple-modal-description{
    padding: 15px;
}

.text-modal-button{
    background: #eaeaea;
    border: none;
    border-top: 2px solid red;
    padding: 5px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

/* TOP NAV SEARCH BAR */

.search-field-container{
    display: flex;
    justify-content: space-between;
    width: 40%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    overflow: hidden;
}

.search-field-container .search-field{
    border: none;
    width: 100%;
}

.search-field-container .search-field-addon{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .search-field-container{
        width: 90% !important;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .search-field-container{
        width: 40% !important;
    }
}

@media (max-width: 601px) { 
    .search-field-container{
        width: 50% !important;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { 
    .search-field-container{
        width: 90% !important;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {  }