.signup-container {
  height: auto;
  min-height: 500px;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 20px 30px 60px;
  width: 65%;
  position: relative;
  margin: 0px auto;
  opacity: 0.9;
}

.signip-container {
  height: auto;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 20px 30px;
  width: 100%;
  max-width: 450px;
  position: relative;
  margin: 0px auto;
  opacity: 0.9;
}
.forgot-pwd-container {
  background-image: url("./../../assets/img/map-image.jpg");
  height: 100vh;
  background-repeat: no;
  background-size: cover;
  padding: 5%;
}
.title {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  font-family: "Google Sans", arial, sans-serif;
}

.sub-title {
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 1.5;
}

.custom-input-label {
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
  font-size: 0.75rem;
  text-align: left;
  margin-top: 8px;
  min-height: 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1em;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figcaption {
  font-size: 16px;
  font-weight: 300;
  padding: 5px 20px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .signup-container {
    overflow-y: auto;
    overflow: hidden;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .signup-container {
    overflow-y: auto;
    overflow: hidden;
    padding: 10px;
    margin: 10px auto;
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .signup-container {
    overflow-y: auto;
    overflow: hidden;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
  }

  .signip-container {
  }
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
#draggable-dialog-title {
  text-align: center;
  font-size: 20px;
}
#dialogText {
  font-size: 16px;
}
#closeButton {
  background-color: grey;
  color: white;
  padding: 2px 80px;
  font-size: 18px;
}
#dialogText {
  font-size: 20px;
}
#dialogTitle {
  font-size: 40px;
}
.MenuLinks {
  /* border: 6px solid 	#E8E8E8; */
  background-color: #e8e8e8;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
  /* border-top: 20px solid 	#E8E8E8; */
}
